.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.715820;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.857910;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.795410;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._5{margin-left:-8.132810px;}
._1{margin-left:-4.777717px;}
._3{margin-left:-2.741968px;}
._6{margin-left:-1.687690px;}
._4{width:1.703939px;}
._2{width:4.588000px;}
._0{width:65.300000px;}
._7{width:70.526000px;}
.fc3{color:rgb(0,0,255);}
.fc2{color:rgb(255,255,255);}
.fc1{color:rgb(0,0,0);}
.fc0{color:rgb(137,137,137);}
.fs5{font-size:56.000000px;}
.fs7{font-size:72.000000px;}
.fs9{font-size:80.000000px;}
.fs8{font-size:82.000000px;}
.fs2{font-size:120.000000px;}
.fs1{font-size:122.000000px;}
.fs0{font-size:128.000000px;}
.fs6{font-size:144.000000px;}
.fs4{font-size:160.000000px;}
.fs3{font-size:176.000000px;}
.y0{bottom:0.000000px;}
.y1a{bottom:20.893341px;}
.y19{bottom:42.493340px;}
.y20{bottom:61.151993px;}
.ya{bottom:79.919983px;}
.y1f{bottom:82.751991px;}
.y9{bottom:115.919983px;}
.y12{bottom:132.132614px;}
.y26{bottom:151.092476px;}
.y8{bottom:151.919983px;}
.y25{bottom:175.092476px;}
.y7{bottom:195.119995px;}
.y24{bottom:199.092476px;}
.y1{bottom:200.447994px;}
.y15{bottom:220.306801px;}
.y23{bottom:223.092476px;}
.y11{bottom:226.306862px;}
.y6{bottom:231.119995px;}
.y14{bottom:235.426804px;}
.y10{bottom:241.426865px;}
.y13{bottom:250.546806px;}
.yf{bottom:256.546867px;}
.y5{bottom:267.119995px;}
.y4{bottom:310.319992px;}
.ye{bottom:329.840256px;}
.yd{bottom:344.960255px;}
.y3{bottom:346.319992px;}
.y27{bottom:347.951988px;}
.y21{bottom:356.130936px;}
.y18{bottom:358.201199px;}
.y1c{bottom:374.448219px;}
.y17{bottom:379.801197px;}
.y2{bottom:382.319994px;}
.y1b{bottom:396.048218px;}
.yc{bottom:443.650909px;}
.y16{bottom:446.928688px;}
.yb{bottom:456.216003px;}
.y1e{bottom:462.622963px;}
.y22{bottom:478.416000px;}
.y1d{bottom:482.034466px;}
.h6{height:38.062500px;}
.h8{height:51.679688px;}
.hb{height:57.421875px;}
.ha{height:64.222656px;}
.h3{height:86.132812px;}
.h2{height:87.330078px;}
.h1{height:91.875000px;}
.h7{height:97.875000px;}
.h9{height:103.359375px;}
.h5{height:108.750000px;}
.h4{height:119.625000px;}
.h0{height:540.000000px;}
.w0{width:720.000000px;}
.x0{left:0.000000px;}
.x2{left:43.200012px;}
.x12{left:44.304688px;}
.xf{left:52.200012px;}
.xe{left:61.481964px;}
.x3{left:70.200012px;}
.x14{left:71.836395px;}
.x4{left:80.407257px;}
.x10{left:91.200012px;}
.x11{left:110.295624px;}
.x5{left:116.289093px;}
.x13{left:149.951187px;}
.xd{left:195.824078px;}
.xc{left:211.777203px;}
.xb{left:212.861187px;}
.x1{left:245.499985px;}
.x15{left:263.359856px;}
.xa{left:321.738216px;}
.x6{left:341.875900px;}
.x7{left:351.302172px;}
.x8{left:470.264046px;}
.x9{left:482.321663px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._5{margin-left:-10.843746pt;}
._1{margin-left:-6.370290pt;}
._3{margin-left:-3.655957pt;}
._6{margin-left:-2.250254pt;}
._4{width:2.271919pt;}
._2{width:6.117333pt;}
._0{width:87.066667pt;}
._7{width:94.034667pt;}
.fs5{font-size:74.666667pt;}
.fs7{font-size:96.000000pt;}
.fs9{font-size:106.666667pt;}
.fs8{font-size:109.333333pt;}
.fs2{font-size:160.000000pt;}
.fs1{font-size:162.666667pt;}
.fs0{font-size:170.666667pt;}
.fs6{font-size:192.000000pt;}
.fs4{font-size:213.333333pt;}
.fs3{font-size:234.666667pt;}
.y0{bottom:0.000000pt;}
.y1a{bottom:27.857788pt;}
.y19{bottom:56.657786pt;}
.y20{bottom:81.535990pt;}
.ya{bottom:106.559977pt;}
.y1f{bottom:110.335988pt;}
.y9{bottom:154.559977pt;}
.y12{bottom:176.176819pt;}
.y26{bottom:201.456635pt;}
.y8{bottom:202.559977pt;}
.y25{bottom:233.456635pt;}
.y7{bottom:260.159993pt;}
.y24{bottom:265.456635pt;}
.y1{bottom:267.263992pt;}
.y15{bottom:293.742401pt;}
.y23{bottom:297.456635pt;}
.y11{bottom:301.742483pt;}
.y6{bottom:308.159993pt;}
.y14{bottom:313.902405pt;}
.y10{bottom:321.902486pt;}
.y13{bottom:334.062408pt;}
.yf{bottom:342.062490pt;}
.y5{bottom:356.159993pt;}
.y4{bottom:413.759989pt;}
.ye{bottom:439.787008pt;}
.yd{bottom:459.947006pt;}
.y3{bottom:461.759989pt;}
.y27{bottom:463.935984pt;}
.y21{bottom:474.841248pt;}
.y18{bottom:477.601598pt;}
.y1c{bottom:499.264292pt;}
.y17{bottom:506.401596pt;}
.y2{bottom:509.759992pt;}
.y1b{bottom:528.064290pt;}
.yc{bottom:591.534546pt;}
.y16{bottom:595.904917pt;}
.yb{bottom:608.288005pt;}
.y1e{bottom:616.830617pt;}
.y22{bottom:637.888000pt;}
.y1d{bottom:642.712621pt;}
.h6{height:50.750000pt;}
.h8{height:68.906250pt;}
.hb{height:76.562500pt;}
.ha{height:85.630208pt;}
.h3{height:114.843750pt;}
.h2{height:116.440104pt;}
.h1{height:122.500000pt;}
.h7{height:130.500000pt;}
.h9{height:137.812500pt;}
.h5{height:145.000000pt;}
.h4{height:159.500000pt;}
.h0{height:720.000000pt;}
.w0{width:960.000000pt;}
.x0{left:0.000000pt;}
.x2{left:57.600016pt;}
.x12{left:59.072917pt;}
.xf{left:69.600016pt;}
.xe{left:81.975952pt;}
.x3{left:93.600016pt;}
.x14{left:95.781860pt;}
.x4{left:107.209676pt;}
.x10{left:121.600016pt;}
.x11{left:147.060832pt;}
.x5{left:155.052124pt;}
.x13{left:199.934916pt;}
.xd{left:261.098770pt;}
.xc{left:282.369603pt;}
.xb{left:283.814916pt;}
.x1{left:327.333313pt;}
.x15{left:351.146474pt;}
.xa{left:428.984289pt;}
.x6{left:455.834534pt;}
.x7{left:468.402896pt;}
.x8{left:627.018728pt;}
.x9{left:643.095551pt;}
}
